.titleposition{
    text-align:center;
    background-color: transparent;
    position: absolute;
    right: 65%;
    top:10%;
    text-shadow: 2px 2px black;
    font-size:4vw;
    color:goldenrod;
    /* vw to scale with window*/
    width: 22vw;
}


.white{
    color:white;
}
.listcenter{
    text-align:center;
    background: rgba(49, 49, 49, .8)
}

/* this centers the words in ther list */


.myUl{
    display:inline-block;
    text-align: left;
    font-size:1.5vw;
}
/* this centers the bullets */

.abscenter{
    margin: 0;
    position: absolute;
    top: 70%;
    left: 24%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: transparent;

}

a:visited{
    color:white;
    text-decoration: none;
}

a{
    text-decoration: none;
}
/* this centers the entire body */

body{
    background-image:url("images/home2.jpeg");
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:cover;
}