*{
    background-color: black;
    color: goldenrod;
}


.list{
    text-align: center;
}

ul, ol{
    display:inline-block;
    font-size: 22px;
}
h1{
    text-align:center;
}

p{
    text-indent: 40px;
}

