.titleposition{
    text-align:right;
    background-color: transparent;
    position: absolute;
    right: 80%;
    top:5%;
    text-shadow: 2px 2px black;
    font-size:4vw;
    color:gold;
    /* vw to scale with window*/
    width: 22vw;
    height: 18vw;
}


.white{
    color:white;
}
.listcenter{
    text-align:center;
}

/* this centers the words in ther list */


.myUl{
    display:inline-block;
    text-align: left;
    font-size:2vw;
    color:white;
    background-color: transparent;
}
/* this centers the bullets */

.abscenter{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 13%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: transparent;

}

a:visited{
    color:white;
    text-decoration: none;
}

a{
    text-decoration: none;
}
/* this centers the entire body */

body{
    background-image:
    linear-gradient(to right,rgba(0, 0, 0, 0.973),transparent, transparent, transparent),
    url("images/home2.jpeg");
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:cover;


}